@tailwind base;
@tailwind components;
@tailwind utilities;

.centerbtn{
    box-shadow: -5px 5px  #000000;
}
.formshadow{
    box-shadow: -8px 8px #000000;
}
.navbarshadow{
    box-shadow: 0px 8px 0px -1px #000000;
}
.text-shadow{
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
